# Visual Code
.vscode/
# Git
.git/
.gitignore

# Flutter
android/
ios/
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

.DS_Store